.App {
  height: 100vh;
  position: relative;
  padding: 16px;
  box-sizing: border-box;
  background-color: #000;
}

.vis-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}